.calc-table {
  border-collapse: collapse;
  text-align: center;
  font-size: rem(18);
  color: $white;

  &--responsive {
    overflow-x: auto;
  }

  &__head-ceil,
  &__body-ceil {
    padding: 5px;
  }

  &__head-row {
    background-color: $accent;
    border: none;
    border-bottom: 2px solid $white;
  }

  &__body-row {
    &:nth-child(odd) {
      background-color: $dark;
    }

    &:nth-child(even) {
      background-color: $accent;
    }
  }

  &__img {
    height: 40px;
    margin: 0 auto;
  }

  &__button {
    border: none;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
    color: $text;
    cursor: pointer;

    &--reset {
      color: #f00;
    }
  }
}
